contracts/riv/clinicalprocess/healthcond/description/schemas/interactions/RegisterRaDSDataInteraction/RegisterRaDSDataResponder_1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->		
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="urn:riv:clinicalprocess:healthcond:description:RegisterRaDSDataResponder:1"
  xmlns:core="urn:riv:clinicalprocess:healthcond:description:1"
  targetNamespace="urn:riv:clinicalprocess:healthcond:description:RegisterRaDSDataResponder:1"
  elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
  <xs:import schemaLocation="../../core_components/clinicalprocess_healthcond_description_1.0.xsd"
    namespace="urn:riv:clinicalprocess:healthcond:description:1"/>

  <xs:element name="RegisterRaDSData" type="tns:RegisterRaDSDataType"/>
  <xs:element name="RegisterRaDSDataResponse" type="tns:RegisterRaDSDataResponseType"/>

  <xs:complexType name="RegisterRaDSDataType">
    <xs:sequence>
      <xs:element name="registryData" type="tns:RegistryDataType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegisterRaDSDataResponseType">
    <xs:sequence>
      <xs:element name="ResultCode" type="tns:ResultCodeEnum"/>
      <xs:element name="comment" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ResultCodeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK"/>
      <xs:enumeration value="ERROR"/>
      <xs:enumeration value="INFO"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="RegistryDataType">
    <xs:sequence>
      <xs:element name="inclusionCriteria" type="tns:InclusionCriteriaType">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Inklusionskrierier för patient</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="responsiblePhysician" type="tns:PersonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Patientansvarig läkare</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hospital" type="tns:LocationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Platsdata för läkarbesök</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="diagnosis" type="tns:DiagnosisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Patientens diagnos(er)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dominantHand" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">@TODO "som enum i data xml" Dominant
            hand</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="weight" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Vikt i kg</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="height" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Längd i cm </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="menopaus" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Menopaus</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="menopausAge" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Menopaus ålder</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="studyProject" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Studie eller project som patienten ingår
            i</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="visitDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Besöksdatum </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="visitDoctor" type="tns:PersonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Läkare vid besök</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SR" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Sänka</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CRP" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">c-reactive protein CRP</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="workability" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Arbetsförmåga</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pain" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Patientenssmärta</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HAQ" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Funktionsnedsättning</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="globalHealth" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Patientens allmänna hälsa</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tenderJoints" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Ömma leder (28)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="swollenJoints" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Svullna leder (28)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DAS" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Disease Activity Score of 28 joints
            DAS28</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="doctorsGlobal" minOccurs="0" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Läkarbedömning</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="trombocyter" minOccurs="0" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Trombocyter</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RF" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">@TODO "som enum i data xml" Röntgenförändring ***Reumatoid
            faktor ***</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="antiCcp" minOccurs="0" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anti-CCP (anti-cyclic citrullinated peptide
            antibodies)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xrayDate" minOccurs="0" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Datum för röntgen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="erosion" minOccurs="0" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Erosion röntgen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="progress" minOccurs="0" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Progress (röntgen) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="drug" type="tns:DrugType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Läkemedelsordination</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="smoking" minOccurs="0" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Rökning</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tenderJoints68" minOccurs="0" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Ömma leder (68)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="swollenJoints66" minOccurs="0" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Svullna leder (66)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="basdaiScore" minOccurs="0" type="xs:float">
        <xs:annotation>
          <xs:documentation xml:lang="sv">BASDAI Bath Ankylosing Spondylitis Disease Activity
            Index</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="basfiScore" minOccurs="0" type="xs:float">
        <xs:annotation>
          <xs:documentation xml:lang="sv">BASFI Bath Ankylosing Spondylitis Functional
            Index</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element name="ID" type="core:PersonalIdentityNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Personnummer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="givenName" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Förnamn</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="surname" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Efternamn</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HSAID" type="core:HSAIdType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">HSAid</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="profession" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Yrke</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:sequence>
      <xs:element name="provider" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Vårdgivare</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unit" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Vårdenhet</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HSAID" type="core:HSAIdType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">HSAid för vårdenhet</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiagnosisType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="onsetDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Dag då symptomen först uppstod</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DrugType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Läkemedelsnamn</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dose" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Dos i mg</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="startDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Insatt datum</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="endDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Utsatt datum</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="endCause" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Utställningsorsak</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Typ av läkemedel</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="interval" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Intervall för läkemedelsdos</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InclusionCriteriaType">
    <xs:sequence>
      <xs:element name="arthritisIn3Joints" minOccurs="0" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Artrit i 3 leder</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arthritisInHand" minOccurs="0" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Artrit i hand</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="morningStiffness" minOccurs="0" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Morgonstelhet</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rheumaticNoduli" minOccurs="0" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Reumatiska noduli</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rheumatoidFaktorPos" minOccurs="0" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Reumatoid faktor positiv</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xrayChanges" minOccurs="0" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Röntgenförändringar</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="symmetricArthritis" minOccurs="0" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Symmetrisk artrit</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
